<div class="container text-center">
  <div class="mt-3">
    <h3 class="fw-light">Favori Filmler</h3>
  </div>
  <div class="row d-flex justify-content-center">
    <div
      class="border border-1 rounded col-md-3 m-4 p-1"
      *ngFor="
        let favoriteMovie of favoriteMovies
          | paginate: { itemsPerPage: 10, currentPage: currentPage }
      "
    >
      <app-movie-card
        [movie]="favoriteMovie"
        (removeFavorite)="removeFromFavorite($event)"
      ></app-movie-card>
    </div>
    <pagination-controls
      class="p-0 m-0"
      (pageChange)="currentPage = $event"
      previousLabel="Geri"
      nextLabel="İleri"
    ></pagination-controls>
  </div>
</div>
